# -----------------------------------
# OS X
# -----------------------------------

# Directory files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail files
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# -----------------------------------
# Files
# -----------------------------------

*.db

# Poetry Lock file
# Locks are only recommended to be included in CLI applications
poetry.lock

# Python Cache
__pycache__
