[package]
name = "surrealdb"
version = "0.1.0"
authors = ["Maxwell Flitton <maxwellflitton@gmail.com>"]
edition = "2018"

[dependencies]
# surrealdb = {git = "https://github.com/surrealdb/surrealdb", features = ["protocol-ws", "protocol-http", "kv-mem", "kv-rocksdb"], rev = "9cd25566ac2f202315aa29a090bfb50e5d76c4eb"}
# surrealdb = {git = "https://github.com/surrealdb/surrealdb", features = ["protocol-ws", "protocol-http", "kv-mem"], rev = "ee3a1c211fd1c1ddc513f0307fa374dbb551542b"}
# surrealdb = {git = "https://github.com/surrealdb/surrealdb", features = ["protocol-ws", "protocol-http", "kv-mem"], rev = "ee3a1c211fd1c1ddc513f0307fa374dbb551542b"}
surrealdb = { version = "1.0.0",  features = ["protocol-ws", "protocol-http", "kv-mem"] }
serde = "^1.0.164"
tokio = { version = "1.29.1", features = ["full"] }
once_cell = "^1.18.0"
serde_json = "^1.0.97"
crossbeam-channel = "^0.5"
thiserror = "^1.0.43"

[dev-dependencies]
bollard = "*"
futures-util-preview = "0.2.2"

[lib]
name = "rust_surrealdb"
crate-type=["cdylib"]

[dependencies.pyo3]
version = "0.19.0"
features = ["extension-module"]

[dependencies.uuid]
version = "1.3.4"
features = [
    "v4",                # Lets you generate random UUIDs
    "fast-rng",          # Use a faster (but still sufficiently random) RNG
    "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]
