version: '3'
services:
  surrealdb:
    image: surrealdb/surrealdb
    command: "start"
    environment:
      - SURREAL_USER=root
      - SURREAL_PASS=root
      - SURREAL_LOG=trace
    ports:
      - 8300:8000

  surrealdb_big_data:
    image: surrealdb-big-data
#    environment:
#      - SURREAL_USER=root
#      - SURREAL_PASS=root
#      - SURREAL_LOG=trace
    ports:
      - 9000:8000

  surrealdb_big_data:
    image: surrealdb/surrealdb:v2.0.0
    command: "start"
    environment:
      - SURREAL_USER=root
      - SURREAL_PASS=root
      - SURREAL_LOG=trace
    ports:
      - 8300:8000
    volumes:
      - ./tests/db_snapshots/data/:/data/

  surrealdb_200:
    image: surrealdb/surrealdb:v2.0.0
    command: "start"
    environment:
      - SURREAL_USER=root
      - SURREAL_PASS=root
      - SURREAL_LOG=trace
    ports:
      - 8200:8000

  surrealdb_121:
    image: surrealdb/surrealdb:v1.2.1
    command: "start"
    environment:
      - SURREAL_USER=root
      - SURREAL_PASS=root
      - SURREAL_LOG=trace
    ports:
      - 8121:8000

  surrealdb_120:
    image: surrealdb/surrealdb:v1.2.0
    command: "start"
    environment:
      - SURREAL_USER=root
      - SURREAL_PASS=root
      - SURREAL_LOG=trace
    ports:
      - 8120:8000

  surrealdb_101:
    image: surrealdb/surrealdb:v1.0.1
    command: "start"
    environment:
      - SURREAL_USER=root
      - SURREAL_PASS=root
      - SURREAL_LOG=trace
    ports:
      - 8101:8000

  surrealdb_111:
    image: surrealdb/surrealdb:v1.1.1
    command: "start"
    environment:
      - SURREAL_USER=root
      - SURREAL_PASS=root
      - SURREAL_LOG=trace
    ports:
      - 8111:8000
