# MANIFEST for SurrealDB Python SDK (with embedded database)

recursive-include src/surrealdb *.py *.pyi *.so *.dylib *.pyd
include Cargo.toml
include Cargo.lock
recursive-include src/surrealdb_ext *.rs
include LICENSE
include README.md

# Exclude build artifacts
global-exclude __pycache__
global-exclude *.py[co]