[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "surrealdb"
version = "1.0.4"
description = "SurrealDB python client"
readme = "README.md"
authors = [{ name = "SurrealDB" }]
license = "Apache-2.0"
keywords = ["SurrealDB", "Database"]
requires-python = ">=3.9"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Database",
    "Topic :: Database :: Front-Ends",
    "Topic :: Database :: Database Engines/Servers",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = [
    "aiohappyeyeballs==2.4.4",
    "aiohttp==3.11.11",
    "aiosignal==1.3.2",
    "async-timeout>=4.0.3",
    "attrs==25.1.0",
    "Cerberus==1.3.7",
    "certifi==2024.12.14",
    "charset-normalizer==3.4.1",
    "frozenlist==1.5.0",
    "idna==3.10",
    "marshmallow==3.26.0",
    "multidict==6.1.0",
    "packaging>=23.0",
    "propcache==0.2.1",
    "pytz==2024.2",
    "requests==2.32.3",
    "typing_extensions==4.12.2",
    "urllib3>=1.26.20",
    "websockets==14.2",
    "yarl==1.18.3",
]

[project.urls]
homepage = "https://github.com/surrealdb/surrealdb.py"
repository = "https://github.com/surrealdb/surrealdb.py"
documentation = "https://surrealdb.com/docs/sdk/python"

[tool.setuptools.packages.find]
where = ["src"]

[tool.ruff]
exclude = ["src/surrealdb/__init__.py"]

[tool.mypy]
mypy_path = "src"
explicit_package_bases = true
disable_error_code = ["return-value", "return-type"]

[[tool.mypy.overrides]]
module = "cerberus.*"
ignore_missing_imports = true

[dependency-groups]
dev = [
    "black>=25.1.0",
    "ruff>=0.11.9",
]
