[tool.poetry]
name = "surrealdb"
version = "0.3.0"
description = "The official SurrealDB library for Python."
readme = "README.md"
authors = ["SurrealDB"]
license = "Apache-2.0"
repository = "https://github.com/surrealdb/surrealdb.py"
documentation = "https://surrealdb.com/docs/integration/libraries/python"

keywords = ["SurrealDB", "Database"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Topic :: Database",
    "Topic :: Database :: Front-Ends",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
python = "^3.7"
httpx = ">=0.23.0"
pydantic = "^1.10.6"
websockets = "^10.4"

[tool.poetry.dev-dependencies]
pre-commit = ">=2.20.0"
black = ">=22.8.0"
ruff = ">=0.0.245"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
color = true

exclude = '''
/(
    \.bzr
    | \.direnv
    | \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.nox
    | \.pants\.d
    | \.ruff_cache
    | \.__pypackages__
    | \.svn
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | env
    | venv
)/
'''

[tool.ruff]
select = ["I", "D", "N", "UP"]
line-length = 88

ignore = ["D212", "D107", "D100", "D104", "D107", "N818", "D401", "D205"]

exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    ".git",
    "__pycache__",
]

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.pyupgrade]
keep-runtime-typing = true
