[tool.poetry]
name = "surrealdb"
version = "0.1.0"
description = "The official SurrealDB library for Python."
authors = []
license = "Apache-2.0"

[tool.poetry.dependencies]
httpx = ">=0.23.0"

[tool.poetry.dev-dependencies]
pre-commit = ">=2.20.0"
black = ">=22.8.0"

[tool.poetry.extras]
speedups = ["orjson>=3.8.0"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
