[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "surrealdb"
version = "1.0.0-beta.1"
description = "SurrealDB python client"
authors = [
    { name = "Maxwell Flitton", email = "maxwellflitton@gmail.com" }
]
license = {text = "MIT License"}
readme = "README.md"
keywords = ["surrealdb", "SurrealDB", "surrealDB", "Surrealdb"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "aiohappyeyeballs==2.4.4",
    "aiohttp==3.11.11",
    "aiosignal==1.3.2",
    "async-timeout==5.0.1",
    "attrs==25.1.0",
    "cbor2==5.6.5",
    "Cerberus==1.3.7",
    "certifi==2024.12.14",
    "charset-normalizer==3.4.1",
    "frozenlist==1.5.0",
    "idna==3.10",
    "marshmallow==3.26.0",
    "multidict==6.1.0",
    "packaging==24.2",
    "propcache==0.2.1",
    "pytz==2024.2",
    "requests==2.32.3",
    "typing_extensions==4.12.2",
    "urllib3==2.3.0",
    "websockets==14.2",
    "yarl==1.18.3"
]

[project.urls]
Homepage = "https://github.com/surrealdb/surrealdb.py"

[tool.setuptools.packages.find]
where = ["src"]

# [project.scripts]
# sdblpy = "sblpy.cli.entrypoint:main"