name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

concurrency:
  group: tests-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
  
jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        surrealdb-version: ["v2.1.0", "v2.1.1", "v2.1.2", "v2.1.3", "v2.1.4"] # v2.0.0 has different UPSERT behaviour
    name: Python ${{ matrix.python-version }} - SurrealDB ${{ matrix.surrealdb-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install surrealdb
        run: curl -sSf https://install.surrealdb.com | sh -s -- --version ${{ matrix.surrealdb-version }}

      - name: Start surrealdb
        run: surreal start --allow-all -u root -p root --log trace &

      - name: Wait for startup
        run: sleep 5

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run unit tests
        run: python -m unittest discover -s tests
        env:
          PYTHONPATH: ./src
          SURREALDB_URL: http://localhost:8000
          SURREALDB_VERSION: ${{ matrix.surrealdb-version }}

#      - name: Run unit tests (WebSocket)
#        run: python -m unittest discover -s tests
#        env:
#          PYTHONPATH: ./src
#          SURREALDB_URL: ws://localhost:8000



